header {
    @include display-center;

    .logo {
        width: 162px;
        @include top-bottom;
        
        @include desktop
        {
            width: 200px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        }
}
// Header menu
.logarrow
        {
            margin-top: 12px;
            display: flex;
            align-items: center;
            & i 
            {
                position: relative;
                right: 70px;
                font-size: 25px;
                color: #353535;
            }
        }