// form
* {
    font-family: "Roboto-Black", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 768px;

    @include desktop {
        max-width: 1440px;
    }

    @include tablet {
        max-width: 1023px;
    }

}


.imgmenu {
    width: 100%;
    object-fit: cover;
    height: 275px;

    @include desktop {
        height: 423px;
    }

    @include tablet {
        height: 350px;
    }
}

.bloccards {
    @include grey-background;
    display: flex;
    flex-direction: column;
    margin: -56px 0 0;
    border-radius: 40px 40px 0px 0px;

    & h2 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 400;
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: 17px;

        @include desktop {
            display: flex;
            justify-content: center;
        }

        @include tablet {
            display: flex;
            justify-content: center;
        }

    }
    
    @include desktop {
        margin-left: 192px;
        margin-right: 192px;
        margin-top: -70px;
    }

    @include tablet {
        margin-left: 60px;
        margin-right: 60px;
    }
}

.cards {
    &__list {
        max-width: 96%;

        & h3 {
            margin-left: 13px;
            font-weight: 300;
            border-bottom: 3px solid #99E2D0;
            width: 12%;
            padding-bottom: 4px;
            font-size: 16px;
            margin-top: 40px;
        }

        & h4 {
            margin-top: 13px;
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80%;
        }

        & p {
            margin-top: 8px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80%;
        }

        @include desktop {
            margin-left: 210px;
            margin-right: 210px;
        }

        @include tablet {
            margin-right: 90px;
            margin-left: 90px;
            max-width: 78%;
        }
    }

    &__plate {
        height: 68.07px;
        margin-left: 11px;
        margin-bottom: 16px;
        padding-left: 10px;
        border-radius: 15.0431px;
        background-color: $white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 0.6s ease-in-out;

        & h3 {
            font-size: 18px;
        }

        &__price {
            position: relative;
            top: -44%;
            left: 87%;
            font-weight: 700;
            max-width: 30px;
            overflow: hidden;
            transition: 0.5s ease-in-out;

            @include desktop {
                left: 90%;
            }

            @include tablet {
                left: 90%;
            }
        }

        &__box {
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            width: max-content;
            overflow: hidden;

            & span {
                position: relative;
                font-size: 20px;
                background: #99E2D0;
                color: $white;
                width: 60px;
                height: 100%;
                right: -60px;
                border-radius: 0 15.0431px 15.0431px 0px;
                @include display-center;
                justify-content: center;
                transition: 0.5s ease-in-out;
            }

            & i {
                transform: rotate(-120deg);
                transition: 0.6s ease-in-out;
            }
        }

        &:hover {
            padding-right: 60px;
            transition: 0.6s ease-in-out;

            & span {
                right: 0px;
            }

            & i {
                transform: rotate(0deg);
                transition: 0.6s ease-in-out;
            }
        }
    }
}


// Delay menu anim 
.delayone {
    @include animenu;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delaytwo {
    @include animenu;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.delaythree {
    @include animenu;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}